<div class="container marketing">

    <h1>Projects</h1>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="project/1"><img src="\assets\images\gledstane\gledstane_frontdoor.jpg"></a>
          <div class="carousel-caption">
            <h1 style="cursor: pointer;">House Builds</h1>
          </div>
        </div>
        <div class="col-sm">
          <a href="project/2"><img src="\assets\images\gledstane\gledstane_frontdoor.jpg"></a>
          <div class="carousel-caption">
            <h1 style="cursor: pointer;">House Builds</h1>
          </div>
        </div>
        <div class="col-sm">
          <a href="project/3"><img src="\assets\images\gledstane\gledstane_frontdoor.jpg"></a>
          <div class="carousel-caption">
            <h1 style="cursor: pointer;">House Builds</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <a href="project/4"><img src="\assets\images\gledstane\gledstane_frontdoor.jpg"></a>
          <div class="carousel-caption">
            <h1 style="cursor: pointer;">House Builds</h1>
          </div>
        </div>
        <div class="col-sm">
          
        </div>
        <div class="col-sm">
          
        </div>
      </div>
    </div>

    <hr class="featurette-divider">