.container > .row {
    padding: 5px;
}
.container > .row > .col-sm{
    
}
.container > .row > .col-sm > a > img{
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
}

/* Divider
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}